{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/shopping/cart.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="nav-bar">
    <div class="left">
      <a href="{% url 'productpage' %}">
        <img style="height: 60px; width: 60px;"  src="./../../static/shopping/images/backarrow.png" alt="">
      </a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>

    <div class="middle">
      <h2>Your Cart</h2>
      </div>
    </div>
  </div>
  <div class="container">
    {% for i in data %}
    <div class="mini">
      <div class="left-side">
        <img style="height: 350px;width: 100%;" src={{i.product.product_image.url}} alt="">
      </div>
      <div class="right-details">
        
        <h1>{{i.product.product_name}}</h1>
        <h2>Price:{{i.product.price}} </h2>
        <h2>Specifications:</h2>
        {% for j in spec %}
        <ul>
          <li><p>{{j}}</p></li>
        </ul>
        {% endfor %}
        <div class="remove-btn">
          <button>Remove Item</button>
        </div>
      </div>
     
    </div>
    {% endfor %}
  </div>
</body>
</html>