{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'shopping/product_details.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav-bar">
      <div class="left">
        <h1>Welcome, {{user}}</h1>
      </div>

      <div class="right">
        <div class="user-dp">
          <img src="{{profile_pic.user_dp.url}}" alt="dummy" />
        </div>
        <div class="user-settings">
          <h2>settings</h2>
        </div>
      </div>
    </div>

    <div class="product-container">
      <div class="image-section">
        <img
          src="{{ product.product_image.url }}"
          alt="{{ product.product_name }}"
        />
      </div>
      <div class="info-section">
        <h1>{{ product.product_name }}</h1>
        <p id="price-calculate" data-price="{{ product.price }}"><b>Price:</b> {{ product.price }}</p>
      


        <p><b>Specifications:</b></p>
        <ul>
          {% for i in spec_list %}
          <li>{{ i }}</li>
          {% endfor %}
        </ul>
     
      <input type="number" required name="quantity" id="quantity" value="1" min="1">
      
        <button>Quantity</button>
      
      <div style="margin-bottom: 20px;">
        <h3>Total Price: <span id="show-price">0</span></h3>
      </div>
    
        <div class="buy-now">
          <a href=""><button>Buy Now</button></a>
        </div>
      </div>
    </div>

    
  </body>
</html>
