* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-bar {
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.left {
  width: 100%;
}
.left img {
  height: 50px;
}

.right {
  width: 70%;
}
option {
  background-color: black;
  color: white;
  font-weight: bold;
}
select {
  background-color: black;
  color: white;
  height: 30px;
  width: 70px;
  border: none;
  font-size: 18px;
  font-weight: bold;
}
.header {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
input {
  height: 32px;
  width: 50%;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}
textarea {
  height: 70px;
  width: 50%;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}
label {
  font-weight: bold;
  font-size: 20px;
  margin: 8px;
}

.add-btn {
  height: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  height: 30px;
  width: 20%;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
}
